/* insert master styles here */

body {
    margin: 0px;
    /* default margin is around 8px */
    /* want the images to go until end of page */
    font-family: "Lato", sans-serif;
}

.container {
    /* container to use grids with template column of 1 fractional unit */
    display: grid;
    grid-template-columns: 1fr;
}


/* navigation styles */


/* use flex boxes */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    /* padding: margin definition */
}

.left-side {
    /* make links appear next to each other instead of on top of each other */
    display: flex
}


/* tree downward traversion: grab divs inside of left-side, apply styles to left */

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    /* em: percentage of default */
    text-transform: uppercase;
    /* use CSS to appear capitalized instead of manual capitalization in HTML */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    /* half a second animation in CSS */
}

.nav-link-wrapper a {
    /* inside nav-link-wrapper, grab the <a> link */
    color: lightgray;
    text-decoration: none;
    /* remove underlining of links */
    transition: color 0.5s;
    /* animate color on top of bottom border */
}

.nav-link-wrapper:hover {
    /* hover for div */
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    /* hover for link <a> */
    color: black;
}


/* build grid styles */

.grid-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* each one of the three columns their own full size column */
}

.grid-item-wrapper {
    position: relative;
    /* allow for flexibility */
}

.grid-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    /* crop all images */
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    /* so text sits on top of image */
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}